.card-list__item {
    display: flex;
    flex-direction: column;
    flex-basis: 22rem;
    height: 12.8rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    padding: 5px;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 24, 48, 0.2);
    text-align: left;
}
.card-list__title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.card-list__price {
    font-weight: 300;
    font-size: 14px;
}